@font-face{
font-family:'Agavantgardecyr';
font-style:normal;
font-weight:400;
src: local('AGAvantGardeCyr Book'), local('AGAvantGardeCyr-Book'),
url(http://uviar.github.io/agavantgardecyr.woff) format('woff');
}