@font-face {
font-display: swap;
font-family: 'Nissan Brand';
font-style: normal;
font-weight: 400;
src: url('NissanBrand-Regular.woff2') format('woff2'),
 url('NissanBrand-Regular.woff') format('woff');
}
